@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); 

 

* { 

    margin: 0; 

    padding: 1%; 

    box-sizing: border-box; 

    font-family: "Montserrat", sans-serif; 

} 

 

body { 

    display: flex; 

    justify-content: center; 

    align-items: center; 

    min-height: 100vh; 

    background: url(logo-maes-em-foco.jpg);  

    background-size: cover; 

    background-position: top center; 

} 

 

.container { 

    width: 500px; 

    overflow: auto; 

    background-color: whitesmoke; 

    border: 2px solid rgba(255, 255, 255, .2); 

    border-radius: 5px; /* Corrigido */ 

    color: black; 

    padding: 30px 40px; /* Corrigido */ 

    box-shadow: 0 0 10px rgba(0, 0, 0, .2); 

    backdrop-filter: blur(100px); 

} 

 

.container h1 { 

    font-size: 35px; /* Corrigido */ 

    text-align: center; 

    font-family: "Roboto", sans-serif; 

    color: #000000; 

} 

 

.input-box { 

    position: static; 

    width: 100%; 

    height: 50px; 

    margin: 30px 0; 

} 

 

.input-box input { 

    width: 100%; 

    height: 135%; 

    background-color: white; /* Corrigido */ 

    border: 2px solid rgba(255, 255, 255, .2); 

    border-radius: 10px; 

    outline: none; 

    font-size: 16px; 

    color: black; 

    padding: 20px 45px 20px 20px; 

} 

 

.input-box input::placeholder { 

    color: grey; 

} 

 

.input-box i { 

    position: absolute; 

    right: 20px; 

    top: 50%; 

    font-size: 20px; 

    transform: translateY(-50%); /* Corrigido */ 

} 

 

input[type="email"], 

input[type="password"], 

input[type="password-confirm"] { 

    color: #000 !important; /* Corrigido */ 

} 

 

h1 { 

    font-size: 35px; /* Corrigido */ 

    color: black; 

} 

 

.lembrar-senha { 

    margin: -8px 0 15px; 

    accent-color: #594f70;   

    margin-right: 15px; 

} 

 

.login { 

    width: 100%; 

    height: 45px; 

    background-color: #9f90c3; 

    border: none; 

    border-radius: 10px; 

    cursor: pointer; 

    font-size: 14px; 

    color: rgb(32, 32, 32); 

    font-weight: 600; 

    box-shadow: 0 0 0 10px rgba(184, 146, 243, 0.1); 

    margin-top: 15px; 

} 

 

.login:hover { 

    background-color: #C7B8EA; 

    border: 2px solid; 

    transition: 0.2s; 

} 

 

.criar-conta { 

    font-size: 14px; 

    text-align: center; 

    margin: 20px 0 15px; 

} 

 

.criar-conta a { 

    text-decoration: none; 

    color: #594F70; 

    font-weight: 600; 

} 

 

.criar-conta a:hover { 

    text-decoration: underline; 

} 

 

p { 

    text-align: center; 

    margin-top: 20px; 

    font-size: 20px; 

    color: #594F70; 

} 

 

.paragrafo-1 { 

    font-family: "Roboto", sans-serif; 

    font-size: 19px; 

    font-style: normal; 

    color: #9 

   
